.wrap {
  perspective: calc(var(--cube-width) * 3);
  --cube-width: 100vw;
  --cube-height: 100vh;
  perspective-origin: center;
  /* margin: 15vh 15vw; */
}
.cube {
  position: relative;
  width: var(--cube-width);
  transform-style: preserve-3d;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateZ(-50vw);
}

#right:checked ~ .wrap .cube {
  transform: translateZ(-50vw) rotateY(-90deg);
}
#back:checked ~ .wrap .cube {
  transform: translateZ(-50vw) rotateY(180deg);
}
#random:checked ~ .wrap .cube {
  transform: translateZ(-50vw) rotateY(calc(-90deg + 720deg));
}
#left:checked ~ .wrap .cube {
  transform: translateZ(-50vw) rotateY(90deg);
}
#bottom:target ~ .wrap .cube {
  transform: translateZ(-50vw) rotateY(0deg) rotateX(90deg);
}

.cube > div {
  position: absolute;
  width: var(--cube-width);
  height: var(--cube-height);
  box-shadow: 0 0 10px black;
  /* overflow: hidden; */
  transition: 0.3s;
  z-index: 1;
}

#webdev {
  overflow: auto;
  height: 100vh;
}

.front {
  background-color: #000000d6;
  color: white;
  transform: rotateY(0) translateZ(calc(var(--cube-width) / 2));
  /* z-index: 1; */
}
.back {
  background-color: rgb(0 0 255 / 76%);
  color: white;
  transform: rotateY(-180deg) translateZ(calc(1 * var(--cube-width) / 2));
  /* z-index: 1; */
}
.right {
  background-color: white;
  transform: rotateY(90deg) translateX(calc(var(--cube-width) / 2));
  transform-origin: top right;
  /* z-index: 1; */
}
.left {
  background-color: rgb(255 152 0 / 89%);
  transform: rotateY(-90deg) translateX(calc(-1 * var(--cube-width) / 2));
  transform-origin: center left;
  /* z-index: 1; */
}
.top {
  background-color: rgb(0 128 128 / 75%);
  transform: rotateX(-90deg) translateY(calc(-1 * var(--cube-width) / 2));
  transform-origin: top center;
  /* z-index: 1; */
}
.bottom {
  background-color: rgb(138 43 226 / 75%);
  transform: rotateX(90deg) translateY(calc(-1 * var(--cube-width) / 2));
  transform-origin: bottom center;
  /* z-index: 1; */
}

.front,
.left,
.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  color: white;
}

.users label {
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.15s;
}
.users label:hover,
.users label:focus {
  box-shadow: 0 0 0 1px white, inset 0 0 0 0 white;
}
.users label:active {
  box-shadow: 0 0 0 5px white, inset 0 0 0 5px #a5a5a5;
}

.users-avatar {
  font-size: 46px;
}

.left li {
  opacity: 0;
  font-size: 2rem;
  list-style: none;
  animation: show 1s forwards ease-in-out;
}

.left li:nth-child(1) {
  animation-delay: 0s;
  animation: hide 2s forwards ease-in-out;
}
.left li:nth-child(2) {
  animation-delay: 1s;
}
.left li:nth-child(3) {
  animation-delay: 1.5s;
}
.left label {
  opacity: 0;
  animation: show 1s forwards ease-in-out;
  animation-delay: 2s;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(10rem);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

body > label,
body > input[type="radio"] {
  display: none;
}
