:root {
  --body-bg-color: #f5f5f7;
  --body-color: black;
  --bg-presentation: rgb(34 34 34 / 67%);
  --bg-coffee: #665547;
  --max-width: 1024px;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: -webkit-fill-available;
  /* height: 100vh; */
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;
  -webkit-overflow-scrolling: touch;
  min-height: -webkit-fill-available;
  height: 100vh;
  height: 100%;
  position: relative;
  /* -webkit-user-select: none;
  user-select: none; */
}

a,
a:visited {
  color: black;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  transition: 0.3s ease-in-out;
}

nav.footer {
  top: auto;
  width: auto;
  bottom: 0;
  background-color: rgb(0 0 0 / 50%);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 50px rgb(0 0 0 / 75%);
  border-radius: 0 1rem 0 0;
}

@media only screen and (min-width: 600px) {
  nav.footer {
    display: none;
  }
}
@media only screen and (max-height: 650px) {
  nav.footer {
    display: none;
  }
}

.back-btn {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.75rem 1rem 0.75rem 0;
  line-height: 0.75;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.back-btn span {
  font-size: 0.8rem;
  margin-left: -1em;
}
.back-btn svg {
  fill: currentColor;
  width: 2rem;
}

.scrolled nav {
  background-color: rgb(0 0 0 / 50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 50px rgb(0 0 0 / 75%);
  transition: 0.2s ease-in-out;
}

/* .scrolled[nav="📝"] nav {
  background-color: rgb(229 168 136 / 50%);
}
.scrolled[nav="📝"] nav a,
.scrolled[nav="📝"] nav label {
  color: black;
} */

nav a {
  padding: 1rem;
  display: inline-block;
}

nav .brand {
  font-weight: bold;
}

nav > div {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

nav a,
nav a:visited {
  color: white;
  text-decoration: none;
}

/* nav a:hover,
nav a:focus,
nav a:active {
  text-decoration: underline;
} */

nav a.active {
  border-bottom: 2px solid white;
}

section {
  padding: 0.5rem 0 2.5rem 0;
  transition: opacity 1s;
  border-radius: 1rem;
  margin: 0.25rem auto;
  width: 100%;
  max-width: var(--max-width);
}

section.header {
  height: auto;
  --navbar-height: 68px;
  /* background-image: url(../img/queyras_flip_1200.webp); */
  background-size: cover;
  background-position: center center;
  padding: 0;
  margin-top: calc(-1 * var(--navbar-height));
  max-width: 100%;
  border-radius: 0;
}

.no-webp section.header {
  background-image: url(../img/hero.jpg);
}

.presentation {
  height: 100%;
  background-image: linear-gradient(90deg, var(--bg-presentation), transparent 50%);
  color: white;
  padding-top: calc(2 * var(--navbar-height));
  box-sizing: border-box;
  position: relative;
}

.presentation .container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  position: relative;
  z-index: 2;
  padding-bottom: 2rem;
}

#player-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

#iframe-container {
  position: relative;
  padding-top: 56.25%;
}
#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", monospace;
  font-style: italic;
  font-size: 2em;
}

#developer {
  margin-left: 130px;
}

@media only screen and (max-width: 600px) {
  .presentation .container {
    flex-direction: column;
  }
  #player-container {
    top: 96px;
  }

  #developer {
    margin-left: 80px;
  }

  /* section {
    margin: 1rem 0.5rem;
  } */
  section.header {
    margin-right: 0;
    margin-left: 0;
  }
}

.inline-block {
  display: inline-block;
}

[data-bg] {
  opacity: 0.85;
  transition: 0.3s;
}

.over span {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7em;
}
.over img {
  border-radius: 14px;
  vertical-align: top;
}

.colored {
  background-image: linear-gradient(90deg, #ffeb3b, #ff9800, #ff5722, #f44336, #e91e63, #ffeb3b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

pre {
  display: inline-block;
  font-family: Comic sans ms;
  text-shadow: 0 2px 1px black;
}

.social-container {
  display: flex;
  align-items: flex-start;
}

.social-container a,
.social-container button {
  font: inherit;
  padding: 0.5rem;
  background: rgb(0 0 0 / 75%);
  color: white;
  margin: 0.5rem 0.25rem 0 0;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  min-width: 110px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 0px 0 white;
  transition: box-shadow 0.15s ease-in-out;

  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  text-align: left;
}

#install {
  display: none;
  min-width: 225px;
  line-height: 0.75;
}

/* .social-container > a:first-child {
  background: white;
  color: black;
  box-shadow: none;
} */

.social-container .social {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  justify-content: flex-end;
}

.social-container a:hover,
.social-container a:focus,
.social-container button:hover,
.social-container button:focus,
.video-btn a:hover,
.video-btn a:focus {
  box-shadow: 0 0 0px 2px white;
}

.video-btn {
  display: flex;
  flex-direction: column;
}

body:not([playerstate]) .video-btn > a:first-child,
body[playerstate="loading"] .video-btn > a:first-child {
  background-color: white;
  color: black;
  box-shadow: 0 0 0px 2px transparent;
  transition: 0.15s ease-in-out;
}

body:not([playerstate]) .video-btn > a:first-child:hover,
body:not([playerstate]) .video-btn > a:first-child:focus,
body[playerstate="loading"] .video-btn > a:first-child,
body[playerstate="-1"] .video-btn > a:first-child {
  background-color: red;
  color: white;
  box-shadow: 0 0 0 2px red;
}

.loading {
  border: 4px solid #ffffff26;
  border-radius: 50%;
  border-top: 4px solid white;
  width: 1rem;
  height: 1rem;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 5px 1px black, inset 0 0 5px 1px black;
  box-shadow: 0 0 5px 1px white, inset 0 0 5px 1px white;
}

.pause,
#close,
.loading,
.error,
[playerstate="1"] .play {
  display: none;
}

[playerstate="0"] .play,
[playerstate="1"] .pause,
[playerstate="1"] #close,
[playerstate="2"] #close,
[playerstate="loading"] .loading,
[playerstate="-1"] .loading,
[playerstate="error"] .error {
  display: inline-block;
}

.hide-when-playing {
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

[playerstate="1"] .hide-when-playing {
  animation-duration: 2s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

.blabla {
  max-width: 400px;
}

.match {
  color: hsl(137deg 74% 63%);
}

.secondary {
  color: #d8d3d0;
}

.level {
  background-color: #454545;
  color: #d8d3d0;
  padding: 2px 5px;
  border-radius: 2px;
}

.quality {
  color: #000000;
  padding: 2px 5px;
  margin-top: 5px;
  border-radius: 2px;
  display: inline-block;
  background-color: #ffffff9c;
}
label.quality {
  text-decoration: underline;
  cursor: pointer;
}

.css,
.js,
.html {
  font-weight: 600;
}
.css span,
.js span,
.html span {
  font-weight: normal;
}
#orientation {
  display: none;
}
.stats > span {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.stats div {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.stat {
  box-shadow: 0 0 0 1px #0000001f;
  padding: 0.25rem;
  border-radius: 8px;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}

#stat-css {
  background-color: rgb(86 61 124/ 75%);
  color: white;
}
#stat-javascript {
  background-color: rgb(227 76 38/ 75%);
  color: white;
}
#stat-html {
  background-color: rgb(241 224 90 / 75%);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 1.8rem;
  overflow: visible;
  align-content: center;
}
#stat-html svg {
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.7));
  height: 2.5rem;
  vertical-align: middle;
  z-index: 1;
}

.twitter {
  width: 200px;
  background: rgb(41 47 51 / 48%);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

#📝 {
  background-image: radial-gradient(100% 100% at 0% 46%, #d53a42 19%, rgba(204, 58, 78, 0.75) 39.25%, rgba(194, 57, 86, 0.5) 59.5%, rgba(177, 56, 94, 0) 100%),
    linear-gradient(
      180deg,
      #ffffb5 0%,
      #fef372 7.33%,
      #f6d860 22%,
      #f3bf59 27.67%,
      #ed894b 39%,
      #e47346 45%,
      #d53a42 57%,
      #c93a51 63.33%,
      #b1385e 76%,
      #97385d 82%,
      #6a324f 94%
    );
  background-color: #131313;
  color: white;
  max-width: 100%;
}

@media (min-width: 1024px) {
  #📝 {
    max-width: calc(100% - 1rem);
  }
}

#☕ {
  background-size: cover;
  background-position: top center;
  background-color: var(--bg-coffee);
  color: white;
  padding-bottom: 16rem;
}

.no-webp #☕ {
  background-image: url(../img/coffee.jpg);
}

.coffee {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background: #0000008c;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 2em;
  border-radius: 2em;
  text-align: center;
  width: 320px;
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
}

[type="number"],
[type="submit"] {
  font-size: 1.2rem;
  max-width: 100%;
}

.coffee label {
  font-size: 1.2rem;
}

.coffee label span {
  font-size: 2rem;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }

  99% {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 16px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff4d;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* -webkit-box-shadow: inset 0 0 12px var(--body-color); */
  background-color: #0000007d;
}

::-webkit-scrollbar-thumb:hover {
  /* Barre */
  -webkit-box-shadow: inset 0 0 16px #000;
}

::-webkit-scrollbar-thumb:active {
  /* Barre */
  -webkit-box-shadow: inset 0 0 20px #000;
}

#newVersion {
  position: fixed;
  display: none;
  bottom: 0;
  z-index: 5;
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  box-shadow: 0px 0px 10px #000000, 0px 0px 10px #ffffff99;
  color: black;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  width: 300px;
  margin: 0 auto;

  left: calc(50% - 150px);
  transform: translateY(100%);
  transition: 0.3s;
}

#newVersion.show {
  display: block;

  animation: showNewVersion 300ms ease-in-out 1 forwards;
}

@keyframes showNewVersion {
  from {
    display: block;
    transform: translateY(100%);
  }

  to {
    display: block;
    transform: translateY(0);
  }
}
#newVersion h4 {
  margin: 0;
}
#newVersion > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
}
#newVersion button {
  margin: 0 0 0 0.5rem;
  background: #ffffffc9;
}

.info-offline,
#offline-security-announcement {
  display: none;
}

body.offline-available .info-offline {
  display: inline-flex;
}

body.is-offline #offline-security-announcement {
  display: inline-block;
}

.f2 {
  font-size: 2rem;
}
.f1-5 {
  font-size: 1.5rem;
}

@property --percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

#bibi.incoming {
  background: linear-gradient(90deg, white 0, white var(--percent), transparent var(--percent), transparent 100%);
  animation: rotateColor 4s linear 1 forwards;
}

@keyframes rotateColor {
  from {
    --percent: 0%;
  }

  to {
    --percent: 100%;
    color: black;
  }
}
